@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
  background-color: bisque;
}

.header {
  font-family: "Shantell Sans", cursive;
  display: flex;
  justify-content: center;
  margin-bottom: .5em;
}

.grid {
  height: 40em;
  width: 40em;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.row {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.square {
  height: 100%; 
  width: 100%;
  border-style: solid;
  background-color: white;
}
